<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bnA</key>
    <string>bnA_.glif</string>
    <key>bnAA</key>
    <string>bnA_A_.glif</string>
    <key>bnTA</key>
    <string>bnT_A_.glif</string>
    <key>bnI</key>
    <string>bnI_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>bnHA</key>
    <string>bnH_A_.glif</string>
    <key>bnU</key>
    <string>bnU_.glif</string>
    <key>bnDDA</key>
    <string>bnD_D_A_.glif</string>
    <key>bnDDxA</key>
    <string>bnD_D_xA_.glif</string>
    <key>bnUU</key>
    <string>bnU_U_.glif</string>
    <key>bnKA</key>
    <string>bnK_A_.glif</string>
    <key>bnvR</key>
    <string>bnvR_.glif</string>
    <key>bnJHA</key>
    <string>bnJ_H_A_.glif</string>
    <key>bnDHA</key>
    <string>bnD_H_A_.glif</string>
    <key>bnBA</key>
    <string>bnB_A_.glif</string>
    <key>bnRA</key>
    <string>bnR_A_.glif</string>
    <key>bnE</key>
    <string>bnE_.glif</string>
    <key>bnAI</key>
    <string>bnA_I_.glif</string>
    <key>bnNYA</key>
    <string>bnN_Y_A_.glif</string>
    <key>bnTTA</key>
    <string>bnT_T_A_.glif</string>
    <key>bnDDHA</key>
    <string>bnD_D_H_A_.glif</string>
    <key>bnDDHxA</key>
    <string>bnD_D_H_xA_.glif</string>
    <key>bnYA</key>
    <string>bnY_A_.glif</string>
    <key>bnYxA</key>
    <string>bnY_xA_.glif</string>
    <key>bnSSA</key>
    <string>bnS_S_A_.glif</string>
    <key>bnPHA</key>
    <string>bnP_H_A_.glif</string>
    <key>bnGHA</key>
    <string>bnG_H_A_.glif</string>
    <key>bnBHA</key>
    <string>bnB_H_A_.glif</string>
    <key>bnKHA</key>
    <string>bnK_H_A_.glif</string>
    <key>bnTHA</key>
    <string>bnT_H_A_.glif</string>
    <key>bnCA</key>
    <string>bnC_A_.glif</string>
    <key>bnCHA</key>
    <string>bnC_H_A_.glif</string>
    <key>bnNGA</key>
    <string>bnN_G_A_.glif</string>
    <key>bnNA</key>
    <string>bnN_A_.glif</string>
    <key>bnNNA</key>
    <string>bnN_N_A_.glif</string>
    <key>bnGA</key>
    <string>bnG_A_.glif</string>
    <key>bnPA</key>
    <string>bnP_A_.glif</string>
    <key>bnLA</key>
    <string>bnL_A_.glif</string>
    <key>bnDA</key>
    <string>bnD_A_.glif</string>
    <key>bnSHA</key>
    <string>bnS_H_A_.glif</string>
    <key>bnMA</key>
    <string>bnM_A_.glif</string>
    <key>bnSA</key>
    <string>bnS_A_.glif</string>
    <key>bnJA</key>
    <string>bnJ_A_.glif</string>
    <key>bnO</key>
    <string>bnO_.glif</string>
    <key>bnAU</key>
    <string>bnA_U_.glif</string>
    <key>bnII</key>
    <string>bnI_I_.glif</string>
    <key>bnvL</key>
    <string>bnvL_.glif</string>
    <key>bnTTHA</key>
    <string>bnT_T_H_A_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>bnmAA</key>
    <string>bnmA_A_.glif</string>
    <key>bnmI</key>
    <string>bnmI_.glif</string>
    <key>bnmII</key>
    <string>bnmI_I_.glif</string>
    <key>bnmE</key>
    <string>bnmE_.glif</string>
    <key>bnmAI</key>
    <string>bnmA_I_.glif</string>
    <key>bnmO</key>
    <string>bnmO_.glif</string>
    <key>bnmAU</key>
    <string>bnmA_U_.glif</string>
    <key>bnAUlntmk</key>
    <string>bnA_U_lntmk.glif</string>
    <key>bnNukta</key>
    <string>bnN_ukta.glif</string>
    <key>bnmU</key>
    <string>bnmU_.glif</string>
    <key>bnmUU</key>
    <string>bnmU_U_.glif</string>
    <key>bnmvR</key>
    <string>bnmvR_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uniFFFF</key>
    <string>uniF_F_F_F_.glif</string>
    <key>bnOne</key>
    <string>bnO_ne.glif</string>
    <key>bnTwo</key>
    <string>bnT_wo.glif</string>
    <key>bnThree</key>
    <string>bnT_hree.glif</string>
    <key>bnFour</key>
    <string>bnF_our.glif</string>
    <key>bnSix</key>
    <string>bnS_ix.glif</string>
    <key>bnNine</key>
    <string>bnN_ine.glif</string>
    <key>bnEight</key>
    <string>bnE_ight.glif</string>
    <key>bnSeven</key>
    <string>bnS_even.glif</string>
    <key>bnZero</key>
    <string>bnZ_ero.glif</string>
    <key>bnFive</key>
    <string>bnF_ive.glif</string>
    <key>bnCandrabindu</key>
    <string>bnC_andrabindu.glif</string>
    <key>bnAnusvara</key>
    <string>bnA_nusvara.glif</string>
    <key>bnVisarga</key>
    <string>bnV_isarga.glif</string>
    <key>bnVirama</key>
    <string>bnV_irama.glif</string>
    <key>bnTAkhanda</key>
    <string>bnT_A_khanda.glif</string>
    <key>NameMe.65536</key>
    <string>N_ameM_e.65536.glif</string>
    <key>bnKA.nukt</key>
    <string>bnK_A_.nukt.glif</string>
    <key>bnKHA.nukt</key>
    <string>bnK_H_A_.nukt.glif</string>
    <key>bnGA.nukt</key>
    <string>bnG_A_.nukt.glif</string>
    <key>bnGHA.nukt</key>
    <string>bnG_H_A_.nukt.glif</string>
    <key>bnNGA.nukt</key>
    <string>bnN_G_A_.nukt.glif</string>
    <key>bnCA.nukt</key>
    <string>bnC_A_.nukt.glif</string>
    <key>bnCHA.nukt</key>
    <string>bnC_H_A_.nukt.glif</string>
    <key>bnJA.nukt</key>
    <string>bnJ_A_.nukt.glif</string>
    <key>bnJHA.nukt</key>
    <string>bnJ_H_A_.nukt.glif</string>
    <key>bnNYA.nukt</key>
    <string>bnN_Y_A_.nukt.glif</string>
    <key>bnTTA.nukt</key>
    <string>bnT_T_A_.nukt.glif</string>
    <key>bnTTHA.nukt</key>
    <string>bnT_T_H_A_.nukt.glif</string>
    <key>bnNNA.nukt</key>
    <string>bnN_N_A_.nukt.glif</string>
    <key>bnTA.nukt</key>
    <string>bnT_A_.nukt.glif</string>
    <key>bnTHA.nukt</key>
    <string>bnT_H_A_.nukt.glif</string>
    <key>bnDA.nukt</key>
    <string>bnD_A_.nukt.glif</string>
    <key>bnDHA.nukt</key>
    <string>bnD_H_A_.nukt.glif</string>
    <key>bnNA.nukt</key>
    <string>bnN_A_.nukt.glif</string>
    <key>bnPA.nukt</key>
    <string>bnP_A_.nukt.glif</string>
    <key>bnPHA.nukt</key>
    <string>bnP_H_A_.nukt.glif</string>
    <key>bnBHA.nukt</key>
    <string>bnB_H_A_.nukt.glif</string>
    <key>bnMA.nukt</key>
    <string>bnM_A_.nukt.glif</string>
    <key>bnLA.nukt</key>
    <string>bnL_A_.nukt.glif</string>
    <key>bnSHA.nukt</key>
    <string>bnS_H_A_.nukt.glif</string>
    <key>bnSSA.nukt</key>
    <string>bnS_S_A_.nukt.glif</string>
    <key>bnSA.nukt</key>
    <string>bnS_A_.nukt.glif</string>
    <key>bnHA.nukt</key>
    <string>bnH_A_.nukt.glif</string>
    <key>bnK_SSA</key>
    <string>bnK__S_S_A_.glif</string>
    <key>bnJ_NYA</key>
    <string>bnJ__N_Y_A_.glif</string>
    <key>bnReph</key>
    <string>bnR_eph.glif</string>
    <key>bnRAc2</key>
    <string>bnR_A_c2.glif</string>
    <key>bnBAc2</key>
    <string>bnB_A_c2.glif</string>
    <key>bnKA.half</key>
    <string>bnK_A_.half.glif</string>
    <key>bnKHA.half</key>
    <string>bnK_H_A_.half.glif</string>
    <key>bnGA.half</key>
    <string>bnG_A_.half.glif</string>
    <key>bnGHA.half</key>
    <string>bnG_H_A_.half.glif</string>
    <key>bnNGA.half</key>
    <string>bnN_G_A_.half.glif</string>
    <key>bnCA.half</key>
    <string>bnC_A_.half.glif</string>
    <key>bnCHA.half</key>
    <string>bnC_H_A_.half.glif</string>
    <key>bnJA.half</key>
    <string>bnJ_A_.half.glif</string>
    <key>bnJHA.half</key>
    <string>bnJ_H_A_.half.glif</string>
    <key>bnNYA.half</key>
    <string>bnN_Y_A_.half.glif</string>
    <key>bnTTA.half</key>
    <string>bnT_T_A_.half.glif</string>
    <key>bnTTHA.half</key>
    <string>bnT_T_H_A_.half.glif</string>
    <key>bnTA.half</key>
    <string>bnT_A_.half.glif</string>
    <key>bnTHA.half</key>
    <string>bnT_H_A_.half.glif</string>
    <key>bnDHA.half</key>
    <string>bnD_H_A_.half.glif</string>
    <key>bnPHA.half</key>
    <string>bnP_H_A_.half.glif</string>
    <key>bnBHA.half</key>
    <string>bnB_H_A_.half.glif</string>
    <key>bnYA.half</key>
    <string>bnY_A_.half.glif</string>
    <key>bnDDHA.half</key>
    <string>bnD_D_H_A_.half.glif</string>
    <key>bnBA.half</key>
    <string>bnB_A_.half.glif</string>
    <key>bnPA.half</key>
    <string>bnP_A_.half.glif</string>
    <key>bnNA.half</key>
    <string>bnN_A_.half.glif</string>
    <key>bnDA.half</key>
    <string>bnD_A_.half.glif</string>
    <key>bnNNA.half</key>
    <string>bnN_N_A_.half.glif</string>
    <key>bnDDA.half</key>
    <string>bnD_D_A_.half.glif</string>
    <key>bnMA.half</key>
    <string>bnM_A_.half.glif</string>
    <key>bnLA.half</key>
    <string>bnL_A_.half.glif</string>
    <key>bnSHA.half</key>
    <string>bnS_H_A_.half.glif</string>
    <key>bnSA.half</key>
    <string>bnS_A_.half.glif</string>
    <key>bnHA.half</key>
    <string>bnH_A_.half.glif</string>
    <key>bnSSA.half</key>
    <string>bnS_S_A_.half.glif</string>
    <key>bnK_SSA.half</key>
    <string>bnK__S_S_A_.half.glif</string>
    <key>bnJ_NYA.half</key>
    <string>bnJ__N_Y_A_.half.glif</string>
    <key>bnKA.nukt.half</key>
    <string>bnK_A_.nukt.half.glif</string>
    <key>bnKHA.nukt.half</key>
    <string>bnK_H_A_.nukt.half.glif</string>
    <key>bnGA.nukt.half</key>
    <string>bnG_A_.nukt.half.glif</string>
    <key>bnGHA.nukt.half</key>
    <string>bnG_H_A_.nukt.half.glif</string>
    <key>bnNGA.nukt.half</key>
    <string>bnN_G_A_.nukt.half.glif</string>
    <key>bnCA.nukt.half</key>
    <string>bnC_A_.nukt.half.glif</string>
    <key>bnCHA.nukt.half</key>
    <string>bnC_H_A_.nukt.half.glif</string>
    <key>bnJA.nukt.half</key>
    <string>bnJ_A_.nukt.half.glif</string>
    <key>bnJHA.nukt.half</key>
    <string>bnJ_H_A_.nukt.half.glif</string>
    <key>bnNYA.nukt.half</key>
    <string>bnN_Y_A_.nukt.half.glif</string>
    <key>bnTTA.nukt.half</key>
    <string>bnT_T_A_.nukt.half.glif</string>
    <key>bnTTHA.nukt.half</key>
    <string>bnT_T_H_A_.nukt.half.glif</string>
    <key>bnDDxA.half</key>
    <string>bnD_D_xA_.half.glif</string>
    <key>bnDDHxA.half</key>
    <string>bnD_D_H_xA_.half.glif</string>
    <key>bnNNA.nukt.half</key>
    <string>bnN_N_A_.nukt.half.glif</string>
    <key>bnTA.nukt.half</key>
    <string>bnT_A_.nukt.half.glif</string>
    <key>bnTHA.nukt.half</key>
    <string>bnT_H_A_.nukt.half.glif</string>
    <key>bnDA.nukt.half</key>
    <string>bnD_A_.nukt.half.glif</string>
    <key>bnDHA.nukt.half</key>
    <string>bnD_H_A_.nukt.half.glif</string>
    <key>bnNA.nukt.half</key>
    <string>bnN_A_.nukt.half.glif</string>
    <key>bnPA.nukt.half</key>
    <string>bnP_A_.nukt.half.glif</string>
    <key>bnPHA.nukt.half</key>
    <string>bnP_H_A_.nukt.half.glif</string>
    <key>bnRA.half</key>
    <string>bnR_A_.half.glif</string>
    <key>bnBHA.nukt.half</key>
    <string>bnB_H_A_.nukt.half.glif</string>
    <key>bnMA.nukt.half</key>
    <string>bnM_A_.nukt.half.glif</string>
    <key>bnYxA.half</key>
    <string>bnY_xA_.half.glif</string>
    <key>bnLA.nukt.half</key>
    <string>bnL_A_.nukt.half.glif</string>
    <key>bnSHA.nukt.half</key>
    <string>bnS_H_A_.nukt.half.glif</string>
    <key>bnSSA.nukt.half</key>
    <string>bnS_S_A_.nukt.half.glif</string>
    <key>bnSA.nukt.half</key>
    <string>bnS_A_.nukt.half.glif</string>
    <key>bnHA.nukt.half</key>
    <string>bnH_A_.nukt.half.glif</string>
    <key>bnK_RA</key>
    <string>bnK__R_A_.glif</string>
    <key>bnKH_RA</key>
    <string>bnK_H__R_A_.glif</string>
    <key>bnG_RA</key>
    <string>bnG__R_A_.glif</string>
    <key>bnGH_RA</key>
    <string>bnG_H__R_A_.glif</string>
    <key>bnNG_RA</key>
    <string>bnN_G__R_A_.glif</string>
    <key>bnNG1_RA</key>
    <string>bnN_G_1_R_A_.glif</string>
    <key>bnC_RA</key>
    <string>bnC__R_A_.glif</string>
    <key>bnCH_RA</key>
    <string>bnC_H__R_A_.glif</string>
    <key>bnJ_RA</key>
    <string>bnJ__R_A_.glif</string>
    <key>bnJH_RA</key>
    <string>bnJ_H__R_A_.glif</string>
    <key>bnNY_RA</key>
    <string>bnN_Y__R_A_.glif</string>
    <key>bnTT_RA</key>
    <string>bnT_T__R_A_.glif</string>
    <key>bnTTH_RA</key>
    <string>bnT_T_H__R_A_.glif</string>
    <key>bnDDH_RA</key>
    <string>bnD_D_H__R_A_.glif</string>
    <key>bnNN_RA</key>
    <string>bnN_N__R_A_.glif</string>
    <key>bnT_RA</key>
    <string>bnT__R_A_.glif</string>
    <key>bnTH_RA</key>
    <string>bnT_H__R_A_.glif</string>
    <key>bnD_RA</key>
    <string>bnD__R_A_.glif</string>
    <key>bnDH_RA</key>
    <string>bnD_H__R_A_.glif</string>
    <key>bnN_RA</key>
    <string>bnN__R_A_.glif</string>
    <key>bnP_RA</key>
    <string>bnP__R_A_.glif</string>
    <key>bnPH_RA</key>
    <string>bnP_H__R_A_.glif</string>
    <key>bnB_RA</key>
    <string>bnB__R_A_.glif</string>
    <key>bnBH_RA</key>
    <string>bnB_H__R_A_.glif</string>
    <key>bnM_RA</key>
    <string>bnM__R_A_.glif</string>
    <key>bnY_RA</key>
    <string>bnY__R_A_.glif</string>
    <key>bnR_RA</key>
    <string>bnR__R_A_.glif</string>
    <key>bnL_RA</key>
    <string>bnL__R_A_.glif</string>
    <key>bnSH_RA</key>
    <string>bnS_H__R_A_.glif</string>
    <key>bnSS_RA</key>
    <string>bnS_S__R_A_.glif</string>
    <key>bnS_RA</key>
    <string>bnS__R_A_.glif</string>
    <key>bnH_RA</key>
    <string>bnH__R_A_.glif</string>
    <key>bnDDx_RA</key>
    <string>bnD_D_x_R_A_.glif</string>
    <key>bnDDx1_RA</key>
    <string>bnD_D_x1_R_A_.glif</string>
    <key>bnDDHx_RA</key>
    <string>bnD_D_H_x_R_A_.glif</string>
    <key>bnYx_RA</key>
    <string>bnY_x_R_A_.glif</string>
    <key>bnK_SS_RA</key>
    <string>bnK__S_S__R_A_.glif</string>
    <key>bnJ_NY_RA</key>
    <string>bnJ__N_Y__R_A_.glif</string>
    <key>bnYAc2</key>
    <string>bnY_A_c2.glif</string>
    <key>bnK_BA</key>
    <string>bnK__B_A_.glif</string>
    <key>bnKH_BA</key>
    <string>bnK_H__B_A_.glif</string>
    <key>bnG_BA</key>
    <string>bnG__B_A_.glif</string>
    <key>bnJ_BA</key>
    <string>bnJ__B_A_.glif</string>
    <key>bnNN_BA</key>
    <string>bnN_N__B_A_.glif</string>
    <key>bnT_BA</key>
    <string>bnT__B_A_.glif</string>
    <key>bnTH_BA</key>
    <string>bnT_H__B_A_.glif</string>
    <key>bnD_BA</key>
    <string>bnD__B_A_.glif</string>
    <key>bnDH_BA</key>
    <string>bnD_H__B_A_.glif</string>
    <key>bnN_BA</key>
    <string>bnN__B_A_.glif</string>
    <key>bnB_BA</key>
    <string>bnB__B_A_.glif</string>
    <key>bnM_BA</key>
    <string>bnM__B_A_.glif</string>
    <key>bnR_BA</key>
    <string>bnR__B_A_.glif</string>
    <key>bnL_BA</key>
    <string>bnL__B_A_.glif</string>
    <key>bnSH_BA</key>
    <string>bnS_H__B_A_.glif</string>
    <key>bnSS_BA</key>
    <string>bnS_S__B_A_.glif</string>
    <key>bnS_BA</key>
    <string>bnS__B_A_.glif</string>
    <key>bnH_BA</key>
    <string>bnH__B_A_.glif</string>
    <key>bnGH_BA</key>
    <string>bnG_H__B_A_.glif</string>
    <key>bnNG_BA</key>
    <string>bnN_G__B_A_.glif</string>
    <key>bnC_BA</key>
    <string>bnC__B_A_.glif</string>
    <key>bnCH_BA</key>
    <string>bnC_H__B_A_.glif</string>
    <key>bnJH_BA</key>
    <string>bnJ_H__B_A_.glif</string>
    <key>bnNY_BA</key>
    <string>bnN_Y__B_A_.glif</string>
    <key>bnTT_BA</key>
    <string>bnT_T__B_A_.glif</string>
    <key>bnTTH_BA</key>
    <string>bnT_T_H__B_A_.glif</string>
    <key>bnDD_BA</key>
    <string>bnD_D__B_A_.glif</string>
    <key>bnDDH_BA</key>
    <string>bnD_D_H__B_A_.glif</string>
    <key>bnP_BA</key>
    <string>bnP__B_A_.glif</string>
    <key>bnPH_BA</key>
    <string>bnP_H__B_A_.glif</string>
    <key>bnBH_BA</key>
    <string>bnB_H__B_A_.glif</string>
    <key>bnY_BA</key>
    <string>bnY__B_A_.glif</string>
    <key>bnK_KA</key>
    <string>bnK__K_A_.glif</string>
    <key>bnK_NA</key>
    <string>bnK__N_A_.glif</string>
    <key>bnDDx_BA</key>
    <string>bnD_D_x_B_A_.glif</string>
    <key>bnDDHx_BA</key>
    <string>bnD_D_H_x_B_A_.glif</string>
    <key>bnYx_BA</key>
    <string>bnY_x_B_A_.glif</string>
    <key>bnK_SS_BA</key>
    <string>bnK__S_S__B_A_.glif</string>
    <key>bnJ_NY_BA</key>
    <string>bnJ__N_Y__B_A_.glif</string>
    <key>bnK_TA</key>
    <string>bnK__T_A_.glif</string>
    <key>bnK_T_BA</key>
    <string>bnK__T__B_A_.glif</string>
    <key>bnK_T_RA</key>
    <string>bnK__T__R_A_.glif</string>
    <key>bnK_MA</key>
    <string>bnK__M_A_.glif</string>
    <key>bnK_LA</key>
    <string>bnK__L_A_.glif</string>
    <key>bnK_TTA</key>
    <string>bnK__T_T_A_.glif</string>
    <key>bnK_TT_RA</key>
    <string>bnK__T_T__R_A_.glif</string>
    <key>bnK_SA</key>
    <string>bnK__S_A_.glif</string>
    <key>bnK_SS_NNA</key>
    <string>bnK__S_S__N_N_A_.glif</string>
    <key>bnK_SS_MA</key>
    <string>bnK__S_S__M_A_.glif</string>
    <key>bnG_GA</key>
    <string>bnG__G_A_.glif</string>
    <key>bnG_DA</key>
    <string>bnG__D_A_.glif</string>
    <key>bnG_DHA</key>
    <string>bnG__D_H_A_.glif</string>
    <key>bnG_NA</key>
    <string>bnG__N_A_.glif</string>
    <key>bnG_MA</key>
    <string>bnG__M_A_.glif</string>
    <key>bnG_LA</key>
    <string>bnG__L_A_.glif</string>
    <key>bnGH_NA</key>
    <string>bnG_H__N_A_.glif</string>
    <key>bnGH_LA</key>
    <string>bnG_H__L_A_.glif</string>
    <key>bnNG_GA</key>
    <string>bnN_G__G_A_.glif</string>
    <key>bnNG_KH</key>
    <string>bnN_G__K_H_.glif</string>
    <key>bnNG_GH</key>
    <string>bnN_G__G_H_.glif</string>
    <key>bnNG_K_SS</key>
    <string>bnN_G__K__S_S_.glif</string>
    <key>bnNG_MA</key>
    <string>bnN_G__M_A_.glif</string>
    <key>bnC_CA</key>
    <string>bnC__C_A_.glif</string>
    <key>bnC_CHA</key>
    <string>bnC__C_H_A_.glif</string>
    <key>bnC_NYA</key>
    <string>bnC__N_Y_A_.glif</string>
    <key>bnC_NA</key>
    <string>bnC__N_A_.glif</string>
    <key>bnC_CH_BA</key>
    <string>bnC__C_H__B_A_.glif</string>
    <key>bnC_CH_RA</key>
    <string>bnC__C_H__R_A_.glif</string>
    <key>bnJ_JA</key>
    <string>bnJ__J_A_.glif</string>
    <key>bnJ_JH</key>
    <string>bnJ__J_H_.glif</string>
    <key>bnJ_JA_BA</key>
    <string>bnJ__J_A__B_A_.glif</string>
    <key>bnNY_CA</key>
    <string>bnN_Y__C_A_.glif</string>
    <key>bnNY_CH</key>
    <string>bnN_Y__C_H_.glif</string>
    <key>bnNY_JA</key>
    <string>bnN_Y__J_A_.glif</string>
    <key>bnNY_JHA</key>
    <string>bnN_Y__J_H_A_.glif</string>
    <key>bnTT_TTA</key>
    <string>bnT_T__T_T_A_.glif</string>
    <key>bnTT_MA</key>
    <string>bnT_T__M_A_.glif</string>
    <key>bnNN_TTA</key>
    <string>bnN_N__T_T_A_.glif</string>
    <key>bnN_TTA</key>
    <string>bnN__T_T_A_.glif</string>
    <key>bnP_TTA</key>
    <string>bnP__T_T_A_.glif</string>
    <key>bnPH_TTA</key>
    <string>bnP_H__T_T_A_.glif</string>
    <key>bnL_TTA</key>
    <string>bnL__T_T_A_.glif</string>
    <key>bnSS_TTA</key>
    <string>bnS_S__T_T_A_.glif</string>
    <key>bnS_TTA</key>
    <string>bnS__T_T_A_.glif</string>
    <key>bnNN_TT_RA</key>
    <string>bnN_N__T_T__R_A_.glif</string>
    <key>bnN_TT_RA</key>
    <string>bnN__T_T__R_A_.glif</string>
    <key>bnL_TT_RA</key>
    <string>bnL__T_T__R_A_.glif</string>
    <key>bnSS_TT_RA</key>
    <string>bnS_S__T_T__R_A_.glif</string>
    <key>bnS_TT_RA</key>
    <string>bnS__T_T__R_A_.glif</string>
    <key>bnDD_DDA</key>
    <string>bnD_D__D_D_A_.glif</string>
    <key>bnDD_MA</key>
    <string>bnD_D__M_A_.glif</string>
    <key>bnDDx_GA</key>
    <string>bnD_D_x_G_A_.glif</string>
    <key>bnDD_GA</key>
    <string>bnD_D__G_A_.glif</string>
    <key>bnN_DDA</key>
    <string>bnN__D_D_A_.glif</string>
    <key>bnN_DD_RA</key>
    <string>bnN__D_D__R_A_.glif</string>
    <key>bnL_DDA</key>
    <string>bnL__D_D_A_.glif</string>
    <key>bnL_DD_RA</key>
    <string>bnL__D_D__R_A_.glif</string>
    <key>bnNN_DDA</key>
    <string>bnN_N__D_D_A_.glif</string>
    <key>bnNN_DD_RA</key>
    <string>bnN_N__D_D__R_A_.glif</string>
    <key>bnNN_TTH</key>
    <string>bnN_N__T_T_H_.glif</string>
    <key>bnN_TTH</key>
    <string>bnN__T_T_H_.glif</string>
    <key>bnSS_TTH</key>
    <string>bnS_S__T_T_H_.glif</string>
    <key>bnNN_DDHA</key>
    <string>bnN_N__D_D_H_A_.glif</string>
    <key>bnNN_NNA</key>
    <string>bnN_N__N_N_A_.glif</string>
    <key>bnNN_NA</key>
    <string>bnN_N__N_A_.glif</string>
    <key>bnNN_MA</key>
    <string>bnN_N__M_A_.glif</string>
    <key>bnT_TA</key>
    <string>bnT__T_A_.glif</string>
    <key>bnT_T_BA</key>
    <string>bnT__T__B_A_.glif</string>
    <key>bnT_THA</key>
    <string>bnT__T_H_A_.glif</string>
    <key>bnT_NA</key>
    <string>bnT__N_A_.glif</string>
    <key>bnT_MA</key>
    <string>bnT__M_A_.glif</string>
    <key>bnT_LA</key>
    <string>bnT__L_A_.glif</string>
    <key>bnD_GA</key>
    <string>bnD__G_A_.glif</string>
    <key>bnD_GHA</key>
    <string>bnD__G_H_A_.glif</string>
    <key>bnD_NA</key>
    <string>bnD__N_A_.glif</string>
    <key>bnD_DHA</key>
    <string>bnD__D_H_A_.glif</string>
    <key>bnD_DH_BA</key>
    <string>bnD__D_H__B_A_.glif</string>
    <key>bnD_MA</key>
    <string>bnD__M_A_.glif</string>
    <key>bnN_DA</key>
    <string>bnN__D_A_.glif</string>
    <key>bnN_D_RA</key>
    <string>bnN__D__R_A_.glif</string>
    <key>bnN_D_BA</key>
    <string>bnN__D__B_A_.glif</string>
    <key>bnM_DA</key>
    <string>bnM__D_A_.glif</string>
    <key>bnL_DA</key>
    <string>bnL__D_A_.glif</string>
    <key>bnB_DA</key>
    <string>bnB__D_A_.glif</string>
    <key>bnB_D_RA</key>
    <string>bnB__D__R_A_.glif</string>
    <key>bnDH_NA</key>
    <string>bnD_H__N_A_.glif</string>
    <key>bnD_DA</key>
    <string>bnD__D_A_.glif</string>
    <key>bnD_BHA</key>
    <string>bnD__B_H_A_.glif</string>
    <key>bnD_D_BA</key>
    <string>bnD__D__B_A_.glif</string>
    <key>bnD_BH_RA</key>
    <string>bnD__B_H__R_A_.glif</string>
    <key>bnDH_MA</key>
    <string>bnD_H__M_A_.glif</string>
    <key>bnN_THA</key>
    <string>bnN__T_H_A_.glif</string>
    <key>bnN_TH_RA</key>
    <string>bnN__T_H__R_A_.glif</string>
    <key>bnN_TA</key>
    <string>bnN__T_A_.glif</string>
    <key>bnN_DHA</key>
    <string>bnN__D_H_A_.glif</string>
    <key>bnN_NA</key>
    <string>bnN__N_A_.glif</string>
    <key>bnN_MA</key>
    <string>bnN__M_A_.glif</string>
    <key>bnN_SA</key>
    <string>bnN__S_A_.glif</string>
    <key>bnN_T_BA</key>
    <string>bnN__T__B_A_.glif</string>
    <key>bnN_T_RA</key>
    <string>bnN__T__R_A_.glif</string>
    <key>bnN_DH_RA</key>
    <string>bnN__D_H__R_A_.glif</string>
    <key>bnP_PA</key>
    <string>bnP__P_A_.glif</string>
    <key>bnP_NA</key>
    <string>bnP__N_A_.glif</string>
    <key>bnP_TA</key>
    <string>bnP__T_A_.glif</string>
    <key>bnP_MA</key>
    <string>bnP__M_A_.glif</string>
    <key>bnP_LA</key>
    <string>bnP__L_A_.glif</string>
    <key>bnP_SA</key>
    <string>bnP__S_A_.glif</string>
    <key>bnM_PA</key>
    <string>bnM__P_A_.glif</string>
    <key>bnM_P_RA</key>
    <string>bnM__P__R_A_.glif</string>
    <key>bnPH_LA</key>
    <string>bnP_H__L_A_.glif</string>
    <key>bnB_JA</key>
    <string>bnB__J_A_.glif</string>
    <key>bnB_DHA</key>
    <string>bnB__D_H_A_.glif</string>
    <key>bnB_BHA</key>
    <string>bnB__B_H_A_.glif</string>
    <key>bnB_LA</key>
    <string>bnB__L_A_.glif</string>
    <key>bnBH_LA</key>
    <string>bnB_H__L_A_.glif</string>
    <key>bnM_TA</key>
    <string>bnM__T_A_.glif</string>
    <key>bnM_NA</key>
    <string>bnM__N_A_.glif</string>
    <key>bnM_BHA</key>
    <string>bnM__B_H_A_.glif</string>
    <key>bnM_LA</key>
    <string>bnM__L_A_.glif</string>
    <key>bnM_MA</key>
    <string>bnM__M_A_.glif</string>
    <key>bnM_B_RA</key>
    <string>bnM__B__R_A_.glif</string>
    <key>bnM_BH_RA</key>
    <string>bnM__B_H__R_A_.glif</string>
    <key>bnM_SA</key>
    <string>bnM__S_A_.glif</string>
    <key>bnM_PHA</key>
    <string>bnM__P_H_A_.glif</string>
    <key>bnL_KA</key>
    <string>bnL__K_A_.glif</string>
    <key>bnL_GA</key>
    <string>bnL__G_A_.glif</string>
    <key>bnL_TA</key>
    <string>bnL__T_A_.glif</string>
    <key>bnL_DHA</key>
    <string>bnL__D_H_A_.glif</string>
    <key>bnL_PA</key>
    <string>bnL__P_A_.glif</string>
    <key>bnL_PHA</key>
    <string>bnL__P_H_A_.glif</string>
    <key>bnL_MA</key>
    <string>bnL__M_A_.glif</string>
    <key>bnL_LA</key>
    <string>bnL__L_A_.glif</string>
    <key>bnSH_CA</key>
    <string>bnS_H__C_A_.glif</string>
    <key>bnSH_CHA</key>
    <string>bnS_H__C_H_A_.glif</string>
    <key>bnSH_TA</key>
    <string>bnS_H__T_A_.glif</string>
    <key>bnSH_MA</key>
    <string>bnS_H__M_A_.glif</string>
    <key>bnSH_NA</key>
    <string>bnS_H__N_A_.glif</string>
    <key>bnSH_LA</key>
    <string>bnS_H__L_A_.glif</string>
    <key>bnSS_KA</key>
    <string>bnS_S__K_A_.glif</string>
    <key>bnSS_PA</key>
    <string>bnS_S__P_A_.glif</string>
    <key>bnSS_PHA</key>
    <string>bnS_S__P_H_A_.glif</string>
    <key>bnSS_MA</key>
    <string>bnS_S__M_A_.glif</string>
    <key>bnSS_K_RA</key>
    <string>bnS_S__K__R_A_.glif</string>
    <key>bnSS_NNA</key>
    <string>bnS_S__N_N_A_.glif</string>
    <key>bnSA_KA</key>
    <string>bnS_A__K_A_.glif</string>
    <key>bnSA_K_RA</key>
    <string>bnS_A__K__R_A_.glif</string>
    <key>bnSA_KHA</key>
    <string>bnS_A__K_H_A_.glif</string>
    <key>bnSA_TA</key>
    <string>bnS_A__T_A_.glif</string>
    <key>bnSA_T_BA</key>
    <string>bnS_A__T__B_A_.glif</string>
    <key>bnSA_THA</key>
    <string>bnS_A__T_H_A_.glif</string>
    <key>bnSA_NA</key>
    <string>bnS_A__N_A_.glif</string>
    <key>bnSA_PA</key>
    <string>bnS_A__P_A_.glif</string>
    <key>bnSA_PHA</key>
    <string>bnS_A__P_H_A_.glif</string>
    <key>bnSA_MA</key>
    <string>bnS_A__M_A_.glif</string>
    <key>bnSA_LA</key>
    <string>bnS_A__L_A_.glif</string>
    <key>bnSA_T_RA</key>
    <string>bnS_A__T__R_A_.glif</string>
    <key>bnSA_P_RA</key>
    <string>bnS_A__P__R_A_.glif</string>
    <key>bnH_NNA</key>
    <string>bnH__N_N_A_.glif</string>
    <key>bnH_NA</key>
    <string>bnH__N_A_.glif</string>
    <key>bnH_LA</key>
    <string>bnH__L_A_.glif</string>
    <key>bnH_MA</key>
    <string>bnH__M_A_.glif</string>
    <key>bnGA_mU</key>
    <string>bnG_A__mU_.glif</string>
    <key>bnL_GA_mU</key>
    <string>bnL__G_A__mU_.glif</string>
    <key>bnRA_mU</key>
    <string>bnR_A__mU_.glif</string>
    <key>bnSH_mU</key>
    <string>bnS_H__mU_.glif</string>
    <key>bnHA_mU</key>
    <string>bnH_A__mU_.glif</string>
    <key>bnG_RA_mU</key>
    <string>bnG__R_A__mU_.glif</string>
    <key>bnT_RA_mU</key>
    <string>bnT__R_A__mU_.glif</string>
    <key>bnTH_RA_mU</key>
    <string>bnT_H__R_A__mU_.glif</string>
    <key>bnD_RA_mU</key>
    <string>bnD__R_A__mU_.glif</string>
    <key>bnDH_RA_mU</key>
    <string>bnD_H__R_A__mU_.glif</string>
    <key>bnB_RA_mU</key>
    <string>bnB__R_A__mU_.glif</string>
    <key>bnBH_RA_mU</key>
    <string>bnB_H__R_A__mU_.glif</string>
    <key>bnSH_RA_mU</key>
    <string>bnS_H__R_A__mU_.glif</string>
    <key>bnSA_RA_mU</key>
    <string>bnS_A__R_A__mU_.glif</string>
    <key>bnSA_LA_mU</key>
    <string>bnS_A__L_A__mU_.glif</string>
    <key>bnR_mUU</key>
    <string>bnR__mU_U_.glif</string>
    <key>bnG_RA_mUU</key>
    <string>bnG__R_A__mU_U_.glif</string>
    <key>bnTH_RA_mUU</key>
    <string>bnT_H__R_A__mU_U_.glif</string>
    <key>bnD_RA_mUU</key>
    <string>bnD__R_A__mU_U_.glif</string>
    <key>bnDH_RA_mUU</key>
    <string>bnD_H__R_A__mU_U_.glif</string>
    <key>bnBH_RA_mUU</key>
    <string>bnB_H__R_A__mU_U_.glif</string>
    <key>bnSH_RA_mUU</key>
    <string>bnS_H__R_A__mU_U_.glif</string>
    <key>bnSA_RA_mUU</key>
    <string>bnS_A__R_A__mU_U_.glif</string>
    <key>bnHA_mvR</key>
    <string>bnH_A__mvR_.glif</string>
    <key>bnCandrabindu2</key>
    <string>bnC_andrabindu2.glif</string>
    <key>bnCandrabindu_bnReph</key>
    <string>bnC_andrabindu_bnR_eph.glif</string>
    <key>bnCandrabindu_bnmII</key>
    <string>bnC_andrabindu_bnmI_I_.glif</string>
    <key>bnReph_bnmII</key>
    <string>bnR_eph_bnmI_I_.glif</string>
    <key>bnReph_bnCandrabindu_bnmII</key>
    <string>bnR_eph_bnC_andrabindu_bnmI_I_.glif</string>
    <key>bnCandrabindu_bnmII2</key>
    <string>bnC_andrabindu_bnmI_I_2.glif</string>
    <key>bnReph_bnCandrabindu_bnmII2</key>
    <string>bnR_eph_bnC_andrabindu_bnmI_I_2.glif</string>
    <key>bnCandrabindu_bnmII3</key>
    <string>bnC_andrabindu_bnmI_I_3.glif</string>
    <key>bnReph_bnCandrabindu_bnmII3</key>
    <string>bnR_eph_bnC_andrabindu_bnmI_I_3.glif</string>
    <key>bnReph2_bnCandrabindu_bnmII</key>
    <string>bnR_eph2_bnC_andrabindu_bnmI_I_.glif</string>
    <key>bnCandrabindu_bnAUlntmk</key>
    <string>bnC_andrabindu_bnA_U_lntmk.glif</string>
    <key>bnCandrabindu_bnReph_bnAUlntmk</key>
    <string>bnC_andrabindu_bnR_eph_bnA_U_lntmk.glif</string>
    <key>bnReph_bnmII2</key>
    <string>bnR_eph_bnmI_I_2.glif</string>
    <key>bnReph_bnmII3</key>
    <string>bnR_eph_bnmI_I_3.glif</string>
    <key>bnmII2</key>
    <string>bnmI_I_2.glif</string>
    <key>bnReph2_bnmII</key>
    <string>bnR_eph2_bnmI_I_.glif</string>
    <key>bnmII3</key>
    <string>bnmI_I_3.glif</string>
    <key>bnmU1</key>
    <string>bnmU_1.glif</string>
    <key>bnmUU1</key>
    <string>bnmU_U_1.glif</string>
    <key>bnmvR1</key>
    <string>bnmvR_1.glif</string>
    <key>bnVirama1</key>
    <string>bnV_irama1.glif</string>
    <key>bnVirama2</key>
    <string>bnV_irama2.glif</string>
    <key>bnVirama3</key>
    <string>bnV_irama3.glif</string>
    <key>bnmvR2</key>
    <string>bnmvR_2.glif</string>
    <key>bnmvR3</key>
    <string>bnmvR_3.glif</string>
    <key>bnmUU2</key>
    <string>bnmU_U_2.glif</string>
    <key>bnmUU3</key>
    <string>bnmU_U_3.glif</string>
    <key>bnmU2</key>
    <string>bnmU_2.glif</string>
    <key>bnmU3</key>
    <string>bnmU_3.glif</string>
    <key>NameMe.518</key>
    <string>N_ameM_e.518.glif</string>
    <key>NameMe.519</key>
    <string>N_ameM_e.519.glif</string>
    <key>bnmU4</key>
    <string>bnmU_4.glif</string>
    <key>bnmUU4</key>
    <string>bnmU_U_4.glif</string>
    <key>bnmU5</key>
    <string>bnmU_5.glif</string>
    <key>bnmUU5</key>
    <string>bnmU_U_5.glif</string>
    <key>NameMe.524</key>
    <string>N_ameM_e.524.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>bnmvRR</key>
    <string>bnmvR_R_.glif</string>
    <key>bnvRR</key>
    <string>bnvR_R_.glif</string>
    <key>bnmvL</key>
    <string>bnmvL_.glif</string>
    <key>bnvLL</key>
    <string>bnvL_L_.glif</string>
    <key>bnmvLL</key>
    <string>bnmvL_L_.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>asRA</key>
    <string>asR_A_.glif</string>
    <key>asWA</key>
    <string>asW_A_.glif</string>
    <key>uni09F2</key>
    <string>uni09F_2.glif</string>
    <key>bnNumeratorone</key>
    <string>bnN_umeratorone.glif</string>
    <key>bnNumeratorfour</key>
    <string>bnN_umeratorfour.glif</string>
    <key>bnIsshar</key>
    <string>bnI_sshar.glif</string>
    <key>bnDenominatorsixteen</key>
    <string>bnD_enominatorsixteen.glif</string>
    <key>bnNumeratoroneless</key>
    <string>bnN_umeratoroneless.glif</string>
    <key>bnNumeratortwo</key>
    <string>bnN_umeratortwo.glif</string>
    <key>bnNumeratorthree</key>
    <string>bnN_umeratorthree.glif</string>
    <key>asR_mU</key>
    <string>asR__mU_.glif</string>
    <key>asR_mUU</key>
    <string>asR__mU_U_.glif</string>
    <key>asR_RA</key>
    <string>asR__R_A_.glif</string>
    <key>asW_RA</key>
    <string>asW__R_A_.glif</string>
    <key>asW_BA</key>
    <string>asW__B_A_.glif</string>
    <key>asR_BA</key>
    <string>asR__B_A_.glif</string>
    <key>asRA.half</key>
    <string>asR_A_.half.glif</string>
    <key>asWA.half</key>
    <string>asW_A_.half.glif</string>
    <key>asWA.nukt</key>
    <string>asW_A_.nukt.glif</string>
    <key>asRA.nukt</key>
    <string>asR_A_.nukt.glif</string>
    <key>bnDD_RA</key>
    <string>bnD_D__R_A_.glif</string>
    <key>bnmE.init</key>
    <string>bnmE_.init.glif</string>
    <key>bnmAI.init</key>
    <string>bnmA_I_.init.glif</string>
    <key>bnNG_KA</key>
    <string>bnN_G__K_A_.glif</string>
    <key>bnNG_K_RA</key>
    <string>bnN_G__K__R_A_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>bnDDHx1_RA</key>
    <string>bnD_D_H_x1_R_A_.glif</string>
    <key>asRA.nukt.half</key>
    <string>asR_A_.nukt.half.glif</string>
    <key>asWA.nukt.half</key>
    <string>asW_A_.nukt.half.glif</string>
    <key>bnSA_TA_mU</key>
    <string>bnS_A__T_A__mU_.glif</string>
    <key>bnN_TA_mU</key>
    <string>bnN__T_A__mU_.glif</string>
    <key>glyph1</key>
    <string>glyph1.glif</string>
  </dict>
</plist>
